<html>
    <head>
        <title> For loop </title>
    </head>
    <body>
        <ul>
            <% for (let i=0;i<data.length;i++){
                if(i%2==0){
                %>
                <li> <%= data[i]["title"]%>
                     <%= data[i]["content"]%>
                </li>
            <%
                }
            }
            %>           
        </ul>
    </body>
</html>